.App {
  text-align: center;
  font-family: "Roboto";

}

.container {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  /* background: linear-gradient(darkblue, black); */
  background-color: black;
  margin: 0;
}

li {
  margin: 20px 0;
}

header {
  color: white;
  grid-area: header;
  justify-self: center;
  padding: 20px auto;
}

.large-text {
  font-size: 1.5rem;
}

.projectionButtons {
  margin: 10px;
}

.locButton {
  margin: 10px;
  min-width: 130px;
}

.wide {
  justify-self: center;
}

.container {
  flex-direction: column;
}

.manualCoordInput div {
  justify-self: center
}
