.App {
  text-align: center;
  font-family: "Roboto";

}

.container {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  /* background: linear-gradient(darkblue, black); */
  background-color: black;
  margin: 0;
}

li {
  margin: 20px 0;
}

header {
  color: white;
  grid-area: header;
  justify-self: center;
  padding: 20px auto;
}

h2 {
  font-size: .9em
}

.grid-container {
  color: white;
  display: grid;
  margin: 10px 20px;
}

.grid-item {
  justify-self: center;
  text-align: center;
}

.projectionButtons {
  margin: 10px;
}

.locButton {
  margin: 10px;
  min-width: 130px;
}

.coordinates {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.wide {
  justify-self: center;
}

.mapThings {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 500px;
}

.leftButtons {
  grid-column: 1;
  grid-row: 1 / 2;
  justify-self: center;
}

.centerButton {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.centerMap {
  grid-column: 2 / 4;
  grid-row: 2;
}

.rightButtons {
  grid-column: 5;
  grid-row: 1 / 2;
}

.stationTrackerGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.manualCoordInput {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
}

.manualCoordInput div {
  justify-self: center
}

.flyoverDisplay {
  grid-column: 2 / 4;
  grid-row: 1;
}